@import "tailwindcss";

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* *{
  outline: 1px solid blue;
} */

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flinch {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.bounce-right {
  animation: bounce-right 0.5s ease-out;
}

.bounce-left {
  animation: bounce-left 0.5s ease-out;
}

.flinch {
  animation: flinch 0.5s ease-out;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
